<html>
<head>
    <style type="text/css">
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1{
            margin-bottom: 1vw;
            border-bottom: solid black 1px;
        }
        p{
            margin-top: 1vw;
            margin-bottom: 1vw;
        }
        *{
            background-color: antiquewhite;
            padding: 0%;
            margin: 0%;
        }
    </style>
    <title>Resultados</title>
</head>
<body>
    <div>
        <h1>Final de Honorarios</h1>
        <p><b>Honorarios: </b>{{ honorarios }}</p>
        <p><b>Neto Final: </b>{{ neto }}</p>
    </div>
</body>
</html>